<section id="feature" class="py-5">
    <div class="container py-5">
      <div class="row justify-content-between align-items-center">
       
        <div class="col-md">
          <img src="assets/img/fature4.jpg" width="90%"  alt="">
        </div>
        <div class="col-md">
          <h1><b>GAME & FEATURES</b></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora quia quo provident voluptates maxime. Nemo autem optio laudantium vel quaerat veritatis neque provident nostrum sed, rem sint quasi saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reiciendis corrupti. At corporis sequi soluta quo aspernatur similique dolorem excepturi rerum ab dignissimos praesentium aperiam illum, adipisci dolor distinctio ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit optio eius odio incidunt sint vel fugit nulla fuga architecto maxime atque accusamus, qui vero numquam, nemo deleniti nisi. Repudiandae, dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum eligendi,         
          </p>         
        </div>
        <hr>

        <div class="row justify-content-between align-items-center mt-4">                     
          <div class="col-md">
            <h1><b>GAME & FEATURES</b></h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora quia quo provident voluptates maxime. Nemo autem optio laudantium vel quaerat veritatis neque provident nostrum sed, rem sint quasi saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reiciendis corrupti. At corporis sequi soluta quo aspernatur similique dolorem excepturi rerum ab dignissimos praesentium aperiam illum, adipisci dolor distinctio ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit optio eius odio incidunt sint vel fugit nulla fuga architecto maxime atque accusamus, qui vero numquam, nemo deleniti nisi. Repudiandae, dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum eligendi,         
              </p>                                 
          </div>         
          <div class="col-md">
            <img src="assets/img/feature5.jpg" width="90%"  alt="">
          </div>                              
       </div>
       <hr>

       <div class="row justify-content-between align-items-center mt-4">            
        <div class="col-md">
          <img src="assets/img/feature6.jpg" width="90%"  alt="">
        </div>          
        <div class="col-md">
            <h1><b>GAME & FEATURES</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora quia quo provident voluptates maxime. Nemo autem optio laudantium vel quaerat veritatis neque provident nostrum sed, rem sint quasi saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reiciendis corrupti. At corporis sequi soluta quo aspernatur similique dolorem excepturi rerum ab dignissimos praesentium aperiam illum, adipisci dolor distinctio ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit optio eius odio incidunt sint vel fugit nulla fuga architecto maxime atque accusamus, qui vero numquam, nemo deleniti nisi. Repudiandae, dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum eligendi,         
            </p>                                 
        </div>          
     </div>

      </div>
    </div>
  </section>