/DebuggingTest/DebuggingTest/nbproject/private/
/DebuggingTest/DebuggingTest/build/
/DebuggingTest/StringTest/nbproject/private/
/DebuggingTest/StringTest/build/
/DebuggingTest/WhileLoop/nbproject/private/
/DebuggingTest/WhileLoop/build/
/DebuggingTest/MaxMinNumber/nbproject/private/
/DebuggingTest/MaxMinNumber/build/