/DebuggingTest/DebuggingTest/nbproject/private/
/DebuggingTest/DebuggingTest/build/
/DebuggingTest/StringTest/nbproject/private/
/DebuggingTest/StringTest/build/
/DebuggingTest/WhileLoop/nbproject/private/
/DebuggingTest/WhileLoop/build/
/DebuggingTest/MaxMinNumber/nbproject/private/
/DebuggingTest/MaxMinNumber/build/
/DebuggingTest/VariousToopUse/nbproject/private/
/DebuggingTest/VariousToopUse/build/
/DebuggingTest/DoMath/nbproject/private/
/DebuggingTest/MethodTest/nbproject/private/
/DebuggingTest/MainProject/nbproject/private/
/DebuggingTest/MainProject/build/
/DebuggingTest/MainProject/dist/
/DebuggingTest/JavaApplication18/nbproject/private/