
<section id="achievement" class="py-5" style="background-color: rgb(245, 224, 224);">     
    <div class="container py-5" >        
        <div class="row text-center g-4">
          <div class="row">
          <div class="col-md-5 m-auto">
            <button class="text-light bg-dark px-4" style="border-radius: 20px;"><h1> Player's Achievement</h1></button>
           </div>
          </div>
            <!-- start 1st part -->
            <div class="col-md">

                <div class="card text-center text-light p-2 bg-dark">                    
                  <img src="assets/img/player3.png" alt="BMW-5" class="card-img-top">                     
                    <h5 class="card-title">Andy Robertson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Watch the profile</a>
                </div>
            </div>
            <!-- end firts part -->


            <!-- start 2nd part -->
            <div class="col-md">

                <div class="card text-center text-light p-2 bg-dark">
                    <img src="assets/img/player3.png" alt="BMW-5" class="card-img-top">

                    <h5 class="card-title">Andy Robertson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Watch the profile</a>
                </div>
            </div>
            <!-- end 2nd part -->

            <!-- start 3rd part -->
            <div class="col-md">

                <div class="card text-center text-light p-2 bg-dark">
                    <img src="assets/img/player3.png" alt="BMW-5" class="card-img-top">

                    <h5 class="card-title">Andy Robertson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Watch the profile</a>
                </div>
            </div>
            <!-- end 3rd part -->

            <!-- start 4th part -->
            <div class="col-md">

              <div class="card text-center text-light p-2 bg-dark">
                  <img src="assets/img/player3.png" alt="BMW-5" class="card-img-top">

                  <h5 class="card-title">Andy Robertson</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                      the card's content.</p>
                  <a href="#" class="btn btn-primary">Watch the profile</a>
              </div>
          </div>
          <!-- end 4th part -->

        </div>
    </div>
</section>